<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Jost:wght@600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    {% block extra_head %}{% endblock extra_head %}


    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
	  var u="//metrics.k.vu/matomo/";
	  _paq.push(['setTrackerUrl', u+'matomo.php']);
	  _paq.push(['setSiteId', '2']);
	  var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
	  g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

    
  </head>

  <body id="index" class="home">
  
    <div id="unam" >
      <!-- style="margin-top: 1em; margin-bottom: 0px;"     -->
      <div id="unam-inner">
	<a href="https://www.unam.mx/">
	  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_unam_white.png" alt="UNAM"/ style="align: left;">
	</a>
	<a href="http://www.ecologia.unam.mx/">
	  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/logo_ie_h.png" alt="Instituto de Ecología" style="float: right;" />
	</a>
      </div>
    </div>

  
    <header id="banner" class="body">
      <h1>
	<a href="{{ SITEURL }}/">
	  {{ SITENAME }}
	  {% if SITESUBTITLE %}<strong>{{ SITESUBTITLE }}</strong>{% endif %}
	</a>
      </h1>
  
      <nav>
	<ul>
	  {% for title, link in MENUITEMS %}
	  <li><a href="{{ link }}">{{ title }}</a></li>
	  {% endfor %}
	  
	  {% if DISPLAY_PAGES_ON_MENU -%}
	  {% for pg in pages %}
	  <li{% if pg == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ pg.url }}">{{ pg.title }}</a></li>
	  {% endfor %}
	  {% endif %}
	  
	  
	  {% if DISPLAY_CATEGORIES_ON_MENU -%}
	  {% for cat, null in categories %}
	  <li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	  {% endfor %}
	  {% endif %}
	</ul>
      </nav>
    </header><!-- /#banner -->


    {% block content %}
    {% endblock %}


    <section id="extras" class="body">
      {% if LINKS %}
      <div class="blogroll">
	<ul>
	  {% for name, link, img in LINKS %}
	  <li><a href="{{ link }}">
	      {% if img %}
	      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/{{ img }}" />
	      {% endif %}			
	      <br />
	      {{ name }}
	  </a></li>
	  {% endfor %}
	</ul>
      </div><!-- /.blogroll -->
      {% endif %}
      {% if SOCIAL or FEED_ALL_ATOM or FEED_ALL_RSS %}
      <div class="social">
	<h2>{{ SOCIAL_WIDGET_NAME | default('social') }}</h2>
	<ul>
	  {% if FEED_ALL_ATOM %}
	  <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate">atom feed</a></li>
	  {% endif %}
	  {% if FEED_ALL_RSS %}
	  <li><a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate">rss feed</a></li>
	  {% endif %}
	  
	  {% for name, link in SOCIAL %}
	  <li><a href="{{ link }}">{{ name }}</a></li>
	  {% endfor %}
	</ul>
      </div><!-- /.social -->
      {% endif %}
    </section><!-- /#extras -->
    
  </body>
</html>
