{% extends "index.html" %}

{% block title %}{{ SITENAME }} - {{ category }}{% endblock %}

{% block content %}
{% if articles %}


{% if category == "Videoglosario" %}
{% set articles = articles|sort(attribute='title') %}


<aside id="featured" class="body">
  <article>
    <h1 class="entry-title">Videoglosario de Diversidades</h1>

    <p>Con motivo de la conmemoración del 28 de junio, Día del Orgullo LGBT++ , estamos creando este videoglosario con el objetivo de generar un
      espacio de sensibilización y conocimiento para la comunidad.</p>
    
    <p>Ninguna de nosotras somos expertas, y estamos aprendiendo todas y
      todos en este proceso.</p>

    <p>En esta sección puedes encontrar todos los términos que hemos definido
      en <strong>orden alfabético</strong> (en la <a href="/">página de la CInIG</a> aparecen en orden
      cronológico junto con otros contenidos).</p>
    
    <p>¿Quieres participar enviando un video? Escríbenos a
      <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#99;&#116;&#105;&#118;&#105;&#100;&#97;&#100;&#101;&#115;&#95;&#99;&#105;&#110;&#105;&#103;&#64;&#101;&#99;&#111;&#108;&#111;&#103;&#105;&#97;&#46;&#117;&#110;&#97;&#109;&#46;&#109;&#120;">&#97;&#99;&#116;&#105;&#118;&#105;&#100;&#97;&#100;&#101;&#115;&#95;&#99;&#105;&#110;&#105;&#103;&#64;&#101;&#99;&#111;&#108;&#111;&#103;&#105;&#97;&#46;&#117;&#110;&#97;&#109;&#46;&#109;&#120;</a>.
    </p>
    
  </article>
</aside>


{% else %}
{% set articles = articles_page.object_list %}
{% endif %}

    {% for article in articles %}

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <aside id="featured" class="body">
                <article>
                    <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
                    {% include 'article_infos.html' %}{{ article.content }}{% include 'comments.html' %}
                </article>
            </aside><!-- /#featured -->
            {% if loop.length > 1 %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed">
            {% endif %}
        {# other items #}
        {% else %}
            {% if loop.first %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
            {% endif %}
            <li><article class="hentry">
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Liga permanente: {{ article.title|striptags }}">{{ article.title }}</a></h1>
                </header>

                <div class="entry-content">
                {% include 'article_infos.html' %}
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Leer más</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            </article></li>
        {% endif %}
        {% if loop.last %}
            {% if loop.length > 1 or articles_page.has_other_pages() %}
                </ol><!-- /#posts-list -->
                {% if articles_page.has_other_pages() and category != "Videoglosario" %}
                    {% include 'pagination.html' %}
                {% endif %}
                </section><!-- /#content -->
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}
